@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(45deg,#00AFB9,#FED9B7);
}

.container{
    /* border: 2px dashed black; */
    width: 80vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title{
    text-align: center;
    
    font-size: 35px;
    text-shadow: 0 0 2px black;
}

.containerimg img{
    display: block;
    margin: 0 auto;
}

.containerimg img:hover{
    transform: scale(1.1);
    
}

.informacoes p{
    margin-bottom: 10px;

}

.informacoes span{
    font-weight: bold;
    font-size: 17px;
}

.informacoes h3{
    text-align: center;
    font-weight: bold;
    
}

#botao{
    width: 200px;
   height: 40px;
   border: none;
   border-radius: 10px;
   background-color: #0081a7;
   color: white;
   font-weight: bold;
   font-size: 22px;
   transition: transform .3s;
}

#botao:hover{
    transform: scale(.8);
    background-color: white;
    color: black;

}

.isolado{
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
