@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
    box-sizing: border-box;
}

body{
    width: 97vw;
    height: 100vh;
    background-color: lightblue;
    
    
}

.isolado{
    margin-top: 1rem;
    margin-left: 2rem;
}

.container{
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    
    background-color: #022534;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 35px;
    
}

.container-tarefas{
    list-style-position: inside;
    list-style-type: none;
    

}

.container-tarefas li{
    margin-bottom: 1rem;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding: 0 5px;
    font-weight: bold;
    transition: all .5s;
    overflow: hidden;
    position: relative;
}


.container-tarefas li:hover{
    background-color: #022534;
    color: white;
}

#remover{
    width: 20px;
    
    height: 20px;
    border: none;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-weight: bold;
}

#remover:hover{
    background-color: lightcoral;
}

#realizada{
    margin-right: 20px;
    cursor: pointer;
    
}

#text-tarefa{
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 19px;
    outline: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
    
    position: relative;
}

#text-tarefa::placeholder{
    color: black;
    font-size: 16px;
}

.form{
    position: relative;
    display: flex;
    background-color: #46b6d4;
}

#estilo1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#estilo2{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.hide{
    display: none;
}

.done{
    text-decoration: line-through;
    background-color: lightgreen;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

@media screen and (min-width:800px){
    .container{
        width: 600px;
    }
}
