@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(45deg,#FFE53B,#00FFFF);
    height: 100vh;
}

.container{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    padding: 20px;
    
}

.titulo{
    text-align: center;
    margin: 30px ;
}

#tarefa{
    height: 40px;
    width: 80%;
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
}

#tarefa::placeholder{
    color: rgba(0, 0, 0, 0.644);
}

#tarefa:focus{
    outline: none;
}

#botao{
    height: 40px;
    width: 17%;
    font-size: 20px;
    border: none;
    border-left: 1px solid rgb(0, 0, 0);
    background-color: white;
    margin-left: -4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: transform .3s;
}

#botao:hover{
    background-color: #00E5FF;
    transform: scale(1.08);
    
}

.alltarefas{
    
    padding: 15px;
}

.subtitulo{
    text-align: center;
    margin-bottom: 30px;
}

.task-list{
    list-style: none;
    padding: 10px;
    
}

.task-box{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    transition: .5s;
    font-weight: bold;
    font-size: 14px;
    
}

.task-title{
    padding-right: 4px;
    
}

.el{
    margin-left:auto ;
}


.concluido{
    height: 50px;
    padding: 5px;
    background-color: white;
    border: none;
    font-size: 25px;
    border-left: 1px solid black;
    cursor: pointer;
    
}
.concluido:hover{
    background-color: lightgreen;
}

.removido{
    height: 50px;
    padding: 5px;
    background-color: white;
    border: none;
    font-size: 25px;
    border-left: 1px solid black;
    margin-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    
}

.removido:hover{
    background-color: lightcoral;
}

.hide{
    display: none;
}

.task-list li.done{
    background-color: springgreen;
    text-decoration: line-through;

}







