@charset "UTF-8";

@media screen and (min-width:500px){
    .container{
        width: 420px;
    }

    .valores{
        font-size: 30px;
    }

    .botao{
        font-size: 25px;
    }

    .clean{
        line-height: 25px;
    }

    
}