@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 90px;
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif
}

button{
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
    outline: none;
    cursor: pointer;
    /* border: 1px solid black; */
    
}

.calculadora{
    background-color: #414040;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.562);

}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    background-color: #abd39c;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.548);
    text-align: right;
    
    overflow: hidden;
    color: black;
    font-size: 60px;
}

.campoBotaoLimpar{
    text-align: right;
    padding-right: .5rem;
}

#limparDisplay{
    width: 15%;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: lightcoral;
    font-size: 20px;
    font-weight: bold;
    transition: transform .2s;
}

#limparDisplay:active{
    transform: scale(.8);
}

.botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.botoes button{
    height: 45px;
    width: 60px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    transition: transform .2s;
}

.botoes button:active{
    
    transform: scale(.8);
}
.botoes button:hover{
    background-color: lightblue;
}

.isolado{
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   


