@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #f3f3f3;
}

body{
    height: 100%;
    background-color: #012030;
}

.styleLine{
    max-width: 500px;
    width: 80vw;
    margin: 2rem auto;
    position: relative;
    
}

.styleLine hr{
    border: 1px solid #ccc;
}

.icos{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icos i{
    font-size: 35px;
    color: white;
    background-color: #012030;
}

#isolado1,#isolado2{
    color: #45C4B0;
}
.form-container{
    border-top: 1px solid #ccc;
    max-width: 500px;
    width: 80vw;
    margin: 3rem auto;
    padding-top: 2rem;
    position: relative;
    
}

.form-container h2{
    text-align: left;
    margin-bottom: 1rem;

}

.form-container p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

input[type="text"]{
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    padding-left: 5px;
}

input[type="text"]:focus{
    border: 2px solid #45C4B0;
}

#cep{
    width: 98%;
    margin-bottom: 10px;
    
}

input[type="text"]:not(#cep){   
    width: 48%;
}

.campos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1rem;
}

#submit{
    border: none;
    font-weight: bold;
    height:35px;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #13678A;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    transition: all .4s ease-out;
}

#submit:active{
    transform: scale(.7);
}

@media screen and (max-width:400px){
    input[type="text"]:not(#cep){   
        width: 98%;
    }
}

.hide{
    display: none;
}


div#voltar{
    padding-top: 1rem;
    padding-left: 2rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }