*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    outline: none;
}

h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 1rem;
}

form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    font-size: 1.5rem;
}

input,select,textarea{
    height: 40px;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

button{
    height: 40px;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(44, 131, 160);
    cursor: pointer;
    color: white;
}